.months-picker{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  color: var(--royal-purple);
  &-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 28px;
    color: inherit;
    transition: 0.3s;
    &:hover{
      transition: 0.05s;
      transform: scale(1.1);
    }
    &:active{
      transition: 0.05s;
      transform: scale(0.9);
    }
  }
  &-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29px;
    padding: 0 12px;
    background: var(--magnolia);
    border-radius: 6px;
    font-size: 15px;
  }
}