@import '../../../assets/styles/font';
@import '../../../assets/styles/mixins';

.graphic {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @include respond-to(md){
    gap: 16px;
  }
  @include respond-to(sm){
    gap: 12px;
  }
}

.graphic-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include respond-to(sm){
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }
}

.graphic-body {
  position: relative;
  background: var(--white);
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  height: 150px;

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: var(--magnolia);
  }

  &::-webkit-scrollbar-thumb {
    position: relative;
    background: var(--royal-purple);
    border-radius: 10px;
    cursor: pointer;

    &::after {
      content: 'text';
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--royal-light-purple) !important;
  }
}

.custom-tooltip-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: none !important;
}

.custom-tooltip {
  color: var(--white);
  background: var(--royal-purple);
  padding: 8px 12px;
  border-radius: 6px;

  &-label {
    font-size: pxToRem(12, 15);
  }

  &-value {
    @extend .inter-medium;
    font-size: 1rem;
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}