@import 'src/assets/styles/font';

.graphic {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.graphic-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.graphic-body {
  position: relative;
  background: var(--white);
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  height: 150px;

  &::-webkit-scrollbar {
    height: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: var(--magnolia);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    position: relative;
    background: var(--royal-purple);
    border-radius: 10px;
    cursor: pointer;

    &::after {
      content: 'text';
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--royal-light-purple) !important;
  }
}


.custom-tooltip-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: none !important;
}

.custom-tooltip {
  color: var(--white);
  background: var(--royal-purple);
  padding: 8px 12px;
  border-radius: 6px;

  &-label {
    font-size: 12px;
  }

  &-value {
    @extend .inter-medium;
    font-size: 15px;
  }
}


.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}