@import "src/assets/styles/mixins";

.navigation {
  width: 100%;
  border-radius: 12px;
  background: var(--white);
  display: flex;
  align-items: center;
  height: 96px;
  padding: 0 32px;
  @include respond-to(lg) {
    padding: 0 24px;
    height: 80px;
  }

  @include respond-to(md) {
    padding: 0 16px;
    height: 70px;
  }

  @include respond-to(sm) {
    height: 60px;
  }

  &-logotype {
    height: 28px;
    margin-right: 80px;
    @include respond-to(lg) {
      margin-right: 50px;
    }
    @include respond-to(md) {
      margin-right: 32px;
    }
    @include respond-to(sm) {
      margin-right: 10px;
    }
  }

  &-projects-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 0 16px;
    gap: 8px;
    color: var(--royal-purple);
    margin-right: auto;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      transition: 0.1s;
      transform: scale(1.02);
    }

    &:active {
      transition: 0.05s;
      transform: scale(0.9);
    }
  }

  &-account {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 13px;
    flex-shrink: 0;

    &-name {
      font-size: 1rem;
      color: var(--royal-purple);
      @include respond-to(sm) {
        display: none;
      }
    }

    &-image {
      width: 32px;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }
  }
}

