:root {
  --blue: #0050CF;
  --fringy-flower: #ADF1BF;
  --silver-tree: #5DC288;

  --sunset-orange: #FF564E;
  --blossom: #F2AEB2;
  --lavendar-blush: #FBEFEF;

  --banana: #FFEAB5;
  --golden: #EBB700;

  --magnolia: #FAF5FE;
  --cold-purple: #A07ECA;
  --royal-light-purple: #721BB1;
  --royal-purple: #64189B;
  --black-purple: #581589;
  --christalle: #3B0E5C;

  --white: #FFFFFF;
  --hawkes-light-blue: #F3F4F9;
  --hawkes-lavendar: #E9EBF2;
  --hawkes-blue: #D3D8E6;
  --slate-grey: #6B7A99;
  --blue-zodiac: #3A4151;
  --black: #1A1A22;

  --info-block-border-radius: 16px;
}