@import "../../../assets/styles/functions";
@import "../../../assets/styles/mixins";

.sticker {
  height: 253px;
  background-size: cover;
  background-image: url("../../../assets/images/StickerBackground.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 128px;
  gap: 32px 64px;
  border-radius: 12px;
  color: var(--black);


  @include respond-to(lg) {
    gap: 64px;
    padding: 0 64px;
    height: auto;
  }

  @include respond-to(md) {
    gap: 32px;
    padding: 0  32px;
    height: auto;

  }
  @include respond-to(sm) {
    gap: 12px;
    padding: 16px;
    flex-direction: column;
  }

  &-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 12px;
  }

  &-title {
    font-size: pxToRem(18, 15);
    color: var(--royal-purple);
  }

  &-text {
    font-size: 1rem;
  }
}