@import 'src/assets/styles/mixins';

.header {
  background-color: rgb(212, 216, 229, 0.25);
  border-radius: 16px;
  padding: 34.5px 32px 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  color: var(--black);
  gap: 16px;
  height: 170px;

  @include respond-to(xl) {
    padding: 32px;
    height: auto
  }
  @include respond-to(lg) {
    padding: 24px
  }
  @include respond-to(md) {
    padding: 18px
  }
  @include respond-to(sm) {
    padding: 16px;
  }


  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;

    @include respond-to(xl) {
      height: auto;
    }
  }

  &-edit-button {
    width: 24px;

    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--royal-purple);
    transition: 0.3s;

    &:hover {
      transition: 0.1s;
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;

    @include respond-to(sm) {
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;
    }
  }

  &-block {
    max-width: 265px;
  }
}